absl-py==0.2.0
appnope==0.1.0
astor==0.6.2
attrdict==2.0.0
backcall==0.1.0
bleach>=3.3.0
cycler==0.10.0
decorator==4.3.0
gast==0.2.0
grpcio==1.46.3
h5py==3.1.0
html5lib==1.1
iml==0.6.0
ipython>=7.16.3
ipython-genutils==0.2.0
jedi==0.12.0
Keras==2.6.0
lime==0.1.1.29
Markdown==2.6.9
matplotlib==3.3.4
networkx==2.6.3
numpy==1.21.6
olefile==0.46
pandas==1.1.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow>=8.0.0
prompt-toolkit==3.0.36
protobuf==3.20.1
ptyprocess==0.7.0
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
pyyaml>=5.4.1
git+https://github.com/dmelis/robust_interpret
scikit-image==0.18.3
scikit-learn==0.24.2
scikit-optimize==0.8.1
scipy==1.7.3
seaborn==0.11.2
simplegeneric==0.8.1
six==1.16.0
# tensorboard==2.8.0
# tensorboardX==2.5
# tensorflow>=2.4.0,<=2.8.0
#tensorflow-tensorboard==2.8.0
termcolor==1.1.0
torch==1.11.0+cu115
# torchvision==0.12.0+cu115
tqdm==4.62.3
traitlets==5.1.1
wcwidth==0.2.5
weka==1.0.1
werkzeug>=2.0.0